.reviewTitle {
  border-bottom: 2px solid black;
  width: 90%;
  margin: auto;
  span {
    font-size: 20px;
    font-weight: 800;
  }

  .submit {
    float: right;
  }
}

.reviewSummary {
  display: flex;
  padding: 20px 10px;
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid lightgray;

  .summary {
    border-right: 1px solid lightgray;
    padding: 50px 70px 50px 50px;
  }

  p {
    font-weight: 600;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: auto;
    width: 200px;

    .point {
      display: flex;
      padding-top: 10px;

      img {
        width: 40px;
        height: 40px;
      }

      .start {
        font-size: 50px;
        font-weight: 700;
      }
    }
  }
}

.oneLineReview {
  .oneLineWrap {
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 90%;
    margin: 10px auto;
    padding: 14px 15px 18px 15px;
    border-top: 1px solid lightgray;

    .oneLine {
      margin: 12px 0;
      font-size: 17px;
    }
    .userInfo {
      display: flex;
    }

    .userId {
      margin-top: 10px;
      color: dimgray;
    }
  }
  img {
    width: 20px;
    height: 18px;
  }

  .starRationgWrap {
    display: flex;

    span {
      padding: 3px 0 0 3px;
    }
  }
}

.submitReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 800px;
  padding: 10px 10px 30px 70px;

  .submitRating {
    margin: auto;
    width: 800px;

    p {
      font-size: 16px;
      margin: auto;
    }

    .starts {
      height: 30px;
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;

    .reviewBox {
      width: 100%;
      height: 60px;
      border: 1px solid lightgrey;
    }

    .nonSubmitButton {
      width: 100px;
      height: 60px;
      background-color: #9dc594;
      border: none;
      border-radius: 2px;
      color: white;
      font-size: 18px;
    }

    .submitButton {
      width: 100px;
      height: 60px;
      background-color: #017042;
      border: none;
      border-radius: 2px;
      color: white;
      font-size: 18px;
    }
  }
}
