@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.order {
  margin: auto;
  width: 70%;
  // min-width: 700px;
  border: 1px solid darkgray;
  background-color: rgb(227, 228, 232);

  .orderArea {
    @include flexSort(row, space-between, center);
    @include componentSize(100%, 50px);
    padding: 20px;

    .chevronUp {
      color: gray;
    }
  }

  .hStyle {
    font-weight: 500;
  }

  td {
    @include componentSize(100px, '');
  }

  input {
    padding: 10px;

    &.userName {
      @include componentSize(80%, 40px);
      border: none;
    }
    &.userPhone {
      @include componentSize(150%, 40px);
      border: none;
    }
    &.userEmail {
      @include componentSize(150%, 40px);
      border: none;
    }
    &[type='radio'] {
      vertical-align: middle;
      appearance: none;
      border: max(2px, 0.3em) solid gray;
      border-radius: 50%;
      width: 0.2em;
      height: 0.2em;
    }
    &[type='radio']:checked {
      border: 0.3em solid $primary-color;
    }
  }

  .orderTop {
    @include componentSize(100%, 40px);
    @include flexSort(row, space-between, center);
    background-color: white;
    .logoIcons {
      @include componentSize('', 30px);
    }
    padding: 20px;
  }

  .orderTitle {
    @include componentSize(100%, 50px);
    @include flexSort(row, center, center);
    background-color: $primary-color;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  .orderDesc {
    @include componentSize(100%, 100%);
    @include flexSort(row, flex-start, center);

    background-color: white;
    .descPtag {
      @include componentSize(100%, 100%);
      color: red;
      line-height: 1.5;
      padding: 20px;
    }
  }
  .orderInfo {
    @include componentSize(100%, 200px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .grayFont {
      margin: 20px;
      color: gray;
      font-size: 14px;
    }
    .userInfoTable {
      margin-left: 20px;
    }
  }
  .orderAddress {
    @include componentSize(100%, 650px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .selectDelivery {
      @include componentSize(90%, 80px);
      @include flexSort(row, flex-start, center);
      border: 1px solid gray;
      margin: 20px;
      padding: 10px;

      .deliveryBtn {
        @include componentSize(120px, 80%);
        background-color: white;
        margin-left: 10px;
        font-size: 13px;
        border: 1px solid gray;
        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
    .selectAddress {
      margin-top: 40px;
      margin-left: 20px;
      margin-bottom: 40px;
    }
    .userAddressInfo {
      @include componentSize(100%, 100%);

      .userAddressTable {
        margin-left: 20px;
        margin-bottom: 50px;

        td {
          &:nth-child(2) {
            width: 1000px;
            max-width: 1000px;
          }
        }

        .orderUserName {
          @include componentSize(90%, 100%);
          margin: 3px;
        }
        .orderUserAdd {
          @include componentSize(60%, 40px);
          margin: 3px;
        }
        .orderUserAdd1 {
          @include componentSize(90%, 40px);
          margin: 3px;
        }
        .orderUserAdd2 {
          @include componentSize(90%, 40px);
          margin: 3px;
        }
        .addSearchBtn {
          padding: 10px;
          margin-left: 2px;
          background-color: white;
          border: 1px solid gray;
        }
        .phoneSelect {
          padding: 10px;
          margin: 3px;
        }
        .orderUserPhone1 {
          @include componentSize(20%, 40px);
          margin: 3px;
        }
        .orderUserPhone2 {
          @include componentSize(20%, 40px);
          margin: 3px;
        }
        .grayFont {
          min-width: 100px;
          color: gray;
          font-size: 14px;
        }
      }
    }
    .deliveryMessage {
      @include componentSize(90%, 40px);
      margin-left: 20px;

      .message {
        margin-left: 10px;
      }
    }
  }
  .orderProduct {
    @include componentSize(100%, 250px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .orderProductImg {
      @include flexSort(row, flex-start, center);
      @include componentSize(100%, 150px);
      margin-left: 20px;

      .productOrder {
        @include componentSize(90px, 90px);
      }
    }

    .orderProductInfo {
      margin-left: 20px;
    }
  }
  .orderDisCount {
    @include componentSize(100%, 160px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .pointDiv {
      @include componentSize(100%, 60px);
      @include flexSort(row, flex-start, center);
      padding: 10px;
      margin-bottom: 20px;

      .pointInput {
        @include componentSize(80%, 100%);
      }

      .pointButton {
        min-width: 20px;
        padding: 10px;
        background-color: white;
        margin-left: 5px;
        border: 1px solid gray;
      }
    }
  }
  .orderPay {
    @include componentSize(100%, 210px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    .orderPayInfo {
      @include flexSort(row, space-between, center);
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
    }
  }
  .orderPaySelect {
    @include componentSize(100%, 100%);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .payMethod {
      .payMethodBtn {
        @include componentSize(170px, 50px);
        padding: 10px;
        margin: 10px;
        background-color: white;
        border: 1px solid gray;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
    .payMethodBottom {
      padding: 20px;
      background-color: rgb(248, 249, 250);
      @include componentSize(100%, 100%);

      .cardSelect {
        @include componentSize(200%, 40px);
        margin-bottom: 20px;
      }
      .grayFont {
        min-width: 100px;
        color: gray;
        font-size: 14px;
      }
      .graySpan {
        @include componentSize(100%, 100%);
        margin-left: 100px;
        color: gray;
        font-size: 14px;
      }
    }
  }
  .orderBottom {
    @include componentSize(100%, 250px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    .orderBottomTitle {
      @include componentSize(100%, 50px);
      @include flexSort(row, center, center);
      background-color: white;
      color: black;
      font-size: 15px;
      text-align: center;
    }

    .orderBottomInfo {
      .orderBtn {
        @include componentSize(100%, 50px);
        border: none;
        background-color: $primary-color;
        color: white;
        font-size: 15px;
        text-align: center;
      }

      .descPtagBottom {
        @include flexSort(row, space-between, center);
        margin-left: 10px;
        margin-top: 20px;
        color: gray;
        font-size: 13px;
      }
    }
  }

  .orderInner {
    @include flexSort(row, space-between, center);
    @include componentSize(100%, 50px);
    padding: 20px;
    background-color: rgb(248, 249, 250);
  }
  .spanStyle {
    font-size: 14px;
    margin-left: 20px;
  }
  hr {
    // @include componentSize(97%, '');
    color: gray;
  }
  .blackSpan {
    margin: 20px;
    color: gray;
    font-size: 14px;
  }
}
