@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.orderProduct {
  @include componentSize(100%, 100%);
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;

  .orderProductInner {
    animation: modalShowTop 0.3s;
    .productFlexTop {
      @include flexSort(row, space-between, center);

      .productFlex {
        @include flexSort(row, flex-start, center);
      }
    }

    .cancelBtn {
      margin-right: 10px;
      padding: 3px;
      border: none;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .orderProductImg {
    @include flexSort(row, flex-start, center);
    @include componentSize('', 150px);
    margin-left: 20px;

    .productOrder {
      @include componentSize(90px, 90px);
    }
  }

  .orderProductInfo {
    margin-left: 20px;
  }
}
