.slide {
  width: 1406px;
  height: 619px;
  background-color: indianred;
}

.weekly {
  height: 750px;
  width: 1406px;
  background-color: cornflowerblue;
}

.title {
  margin: 60px auto 50px;
  color: #1a1a1a;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.newWrap {
  display: flex;
  justify-content: center;
}

.newBevWrap {
  height: 640px;
  width: 620px;
  margin: 0 20px;
  overflow: hidden;

  .newBev {
    max-height: 640px;
    overflow: hidden;
    width: 100%;
    transition: 0.6s;
  }

  .newBev:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
}

.newFdWrap {
  height: 640px;
  width: 620px;
  margin: 150px 20px 0 20px;
  overflow: hidden;
  float: right;

  .newFood {
    max-height: 640px;
    overflow: hidden;
    width: 100%;
    transition: 0.6s;
  }
  .newFood:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
}

.description {
  z-index: 1;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}
