@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import '../../styles/mixin';
@import '../../styles/variables';

.productList {
  @include flexSort(row, flex-start, flex-start);
  position: relative;
  min-height: 100%;
  margin-top: 100px;
  font-family: 'Noto Sans KR', serif;

  .filtering {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    min-width: 215px;
    margin: 100px 20px 0 50px;

    .h4 {
      width: 198px;
      padding-bottom: 12px;
      border-bottom: 2px solid lightgrey;
      font-size: 18px;
    }

    .option {
      width: 198px;
      padding-bottom: 40px;
      border-bottom: 1px solid lightgray;
      background-color: white;

      h5 {
        margin: 20px 2px;
        padding: 10px 0 5px;
      }

      button {
        width: 180px;
        margin: 1px;
        padding: 3px;
        border: 1px solid lightgrey;
        background-color: white;
        color: grey;
        font-size: 14px;

        &:hover {
          border: 1px solid $primary-color;
          color: $primary-color;
        }
      }
    }

    .priceFilter {
      @include flexSort(column, flex-start, flex-start);
    }
  }

  .main {
    @include flexSort(row, flex-start, space-between);
    position: relative;
    flex-wrap: wrap;
    min-height: 100%;
    margin: 10px;

    .h3 {
      display: block;
      width: 95%;
      margin: 20px 10px 20px 20px;
      padding: 20px;
      border-bottom: 2px solid lightgrey;
      font-size: 24px;
    }
  }
}
