.slide {
  width: 1406px;
  height: 618px;
}

.mainWeeklyBest {
  display: block;
  max-width: 1740px;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.mainTitle {
  margin: 100px auto 60px;
  color: #1a1a1a;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

.weeklyTap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 35px;
  margin: 50px auto 0 auto;
  cursor: pointer;

  .taps1,
  .taps2,
  .taps3 {
    display: block;
    color: #1a1a1a;
    font-size: 23px;
    position: relative;
  }

  .on {
    transition: all 0.6s;
    font-weight: 700;
    padding-bottom: 1px;
    border-bottom: 3px solid black;
  }

  .onRed {
    position: absolute;
    background-color: #d1121c;
    width: 8px;
    height: 8px;
    left: 28px;
    bottom: 17px;
    border-radius: 50%;
    margin: 10px;
  }
}

.prdListWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    width: 300px;
    height: 549px;

    display: flex;
    float: left;
    margin: 5px;
  }
}

.prdList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .rank {
    position: absolute;
    width: 50px;
    height: 50px;

    .rankNum {
      position: absolute;
      left: 10px;
      top: 0;
      width: 50px;
      height: 50px;
      padding: 0;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      line-height: 54px;
      text-align: center;
      background-color: #9dc594;
    }
  }
}
