@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.like {
  @include componentSize(60px, 60px);
  background-color: white;
  border: 0.5px solid gainsboro;
  // border: none;
  margin: 10px;
  .faSolidFaHeart {
    @include componentSize(25px, 25px);
    color: red;
  }
  .faRegularFaHeart {
    @include componentSize(25px, 25px);
    color: gray;
  }
}
