@import '../../styles/mixin';
@import '../../styles/variables';

.countBtn {
  @include flexSort(row, center, center);

  button {
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0 15px;
    padding: 0;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: white;
    color: grey;
    font-size: 15px;
    vertical-align: middle;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}
