.footer {
  display: grid;
  position: absolute;
  align-items: start;
  width: 100%;
  min-width: 1200px;
  height: 380px;
  margin-top: 80px;
  padding-top: 20px;
  background-color: #f4f4f4;
  color: gray;
  font-size: 14px;

  .all {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;

    .topContainer {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 20px 0;

      a {
        color: #606060;
        text-decoration: none;
      }
    }

    .phonenumber {
      margin-top: 70px;
      font-size: 25px;
      font-weight: bold;
    }

    .wrapall {
      display: flex;
      justify-content: space-between;

      .wrapalltop {
        margin-top: 15px;
        font-size: 15px;
        line-height: 25px;
      }

      .wrapallmid {
        margin-top: 15px;
        font-size: 15px;
        line-height: 25px;
        text-align: right;
      }
    }

    .underline {
      width: 100%;
      margin: 10px 0 20px;
      border-bottom: 1px solid #aaa;
      line-height: 0.1em;
      text-align: center;
    }

    .uibutton {
      display: flex;
      justify-content: space-around;
      width: 300px;
    }

    .ui {
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
  }
}
