footer {
  display: grid;
  align-items: start;
  width: 100%;
  max-width: 100vw;
  height: 400px;
  margin: 0;
  padding-top: 3%;

  background-color: #f4f4f4;
  font-size: 14px;
}

.all {
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 40px;
}

.phonenumber {
  margin-top: 70px;
  font: bold;
  font-size: 25px;
}

.wrapall {
  display: flex;
  justify-content: space-between;
}

.wrapalltop {
  width: 800px;
  margin-top: 15px;
  font-size: 15px;
  line-height: 25px;
}

.wrapallmid {
  width: 800px;
  margin-top: 15px;
  font-size: 15px;
  line-height: 25px;
  text-align: end;
}

.wrapallright1 {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.underline {
  width: 100%;
  margin: 10px 0 20px;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  text-align: center;
}

.uibutton {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.ui {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

p {
  color: black;
  text-decoration: none;
}
