.wediya {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.signupTitle {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin: 20px auto 50px auto;
}

.agreement {
  .itemFlex {
    display: flex;
    margin: 30px 10px 20px 0;
    justify-content: space-between;
  }

  .agree {
    border: 1px solid darkgray;
    background-color: #f7f7f7;
  }
  .agreeScroll {
    // padding: 20px 15px;
    height: 176px;
    overflow: auto;
    color: #555;
    line-height: 25px;
  }
}

.check {
  input {
    display: none;
  }

  .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 1px;
    position: relative;
    cursor: pointer;
  }

  .icon::before,
  .icon::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 0;
    background-color: #017042;
    position: absolute;
    border-radius: 2px;
    transform-origin: left top;
  }

  .icon::before {
    left: -6px;
    top: -2px;
    transform: rotate(-45deg);
  }

  .icon::after {
    left: 6px;
    top: 10px;
    transform: rotate(-135deg);
  }

  input:checked ~ .icon {
    border-color: #017042;
  }

  input:checked ~ .icon::before {
    height: 15px;
    transition: all 0.2s ease;
  }

  input:checked ~ .icon::after {
    height: 20px;

    transition: all 0.4s ease 0.1s;
  }
}

.itemFlex {
  span {
    color: #017042;
    font-weight: 600;
  }
}

.signup {
  margin: auto;
  padding: 50px;
  width: 70%;
  border: 1px solid darkgray;

  .inputForm {
    display: flex;
    flex-direction: column;

    .textWrap {
      display: flex;
    }
  }
  .invaild {
    color: white;
  }
  .vaild {
    padding-left: 10px;
    font-size: 15px;
    color: #017042;
  }

  .inputWrap {
    position: relative;
  }
  .inputBox {
    width: 100%;
    margin-bottom: 30px;
    height: 70px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 17px;
  }

  .able {
    margin: 30px 0;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color: #017042;
    color: white;
  }

  .disabled {
    margin: 30px 0;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #9dc594;
    color: white;
  }

  .overlap {
    position: absolute;
    width: 100px;
    height: 70px;
    right: 0px;
    border: none;
    border-radius: 2px;
    background-color: #017042;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
}

.agreementTitle {
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
}

.route {
  border: 1px solid lightgrey;

  padding: 20px 0px;
}

.inputTitle {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

table {
  .tabletitle {
    padding-right: 10px;
    font-weight: 600;
    font-size: 16px;
  }
  td {
    margin-right: 20px;
  }
}

.tdWrap {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.nonPopup {
  display: none;
}

.popupWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .popupBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    background: white;
    z-index: 2;
    transform: translate(-50%, -50%);

    .close {
      position: absolute;
      background: #017042;
      bottom: 10%;
      right: 50%;
      transform: translate((50%, 0));
      z-index: 1;
      border: none;
      width: 100px;
      height: 40px;
      color: white;
      font-size: 15px;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 130px;
    }
  }

  .popupBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
  }
}
