@import '/src/styles/common.scss';
@import '/src/styles/reset.scss';

.signupTitle {
  display: flex;
  font-size: 40px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.signup {
  display: flex;
}
.agreement {
  margin: 50px 10px 0 auto;
  padding: 50px;
  width: 600px;
  border: 1px solid darkgray;
  .itemFlex {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  .agreementTitle {
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
  }
  .agree {
    border: 1px solid darkgray;
    background-color: #f7f7f7;
    width: 500px;
  }
  .agreeScroll {
    padding: 20px 15px;
    height: 176px;
    overflow: auto;
    color: #555;
    line-height: 17px;
  }
}

.check {
  input {
    display: none;
  }

  .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 1px;
    position: relative;
    cursor: pointer;
  }

  .icon::before,
  .icon::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 0;
    background-color: #017042;
    position: absolute;
    border-radius: 2px;
    transform-origin: left top;
  }

  .icon::before {
    left: -6px;
    top: -2px;
    transform: rotate(-45deg);
  }

  .icon::after {
    left: 6px;
    top: 10px;
    transform: rotate(-135deg);
  }

  input:checked ~ .icon {
    border-color: #017042;
  }

  input:checked ~ .icon::before {
    height: 15px;
    transition: all 0.2s ease;
  }

  input:checked ~ .icon::after {
    height: 20px;

    transition: all 0.4s ease 0.1s;
  }
}

.itemFlex {
  span {
    color: #017042;
    font-weight: 600;
  }
}

.signupWrap {
  margin: 50px auto 0 10px;
  padding: 50px;
  width: 600px;
  border: 1px solid darkgray;
  .inputForm {
    display: flex;
    flex-direction: column;
  }

  input {
    margin-bottom: 30px;
    height: 40px;
  }
  button {
    height: 40px;
  }
}
