@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.nav {
  @include componentSize(100%, 90px);
  top: 0;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  transition: all 0.5s;
  overflow: hidden;
  background-color: white;
  border-bottom: 0.3px solid #c0c3c5;

  &:hover {
    @include componentSize('', 340px);
    cursor: pointer;
  }

  .topLogo {
    @include componentSize(15%, '');
    margin-left: 20px;
  }

  .topNav {
    @include flexSort(row, space-between, center);
    @include componentSize('', 90px);

    .logoIcons {
      @include componentSize(100%, 90px);
      padding: 10px;
    }
  }

  .topMenu {
    @include componentSize(1100px, '');
    text-align: center;
  }

  .topMenuCategoryUl {
    @include flexSort(row, space-between, center);
    @include componentSize(100%, 90px);
    list-style: none;
  }

  .topMenuCategoryLi {
    @include componentSize(150px, 90px);
    text-align: left;
    margin-top: 40px;
    padding: 20px 5px;
    font-size: large;
    display: inline;
  }

  .navLink {
    @include componentSize('', 90px);
    color: black;
    text-decoration: none;
    display: inline-block;

    &:after {
      @include componentSize(100%, '');
      display: block;
      content: '';
      border-bottom: solid 2px black;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  .topMember {
    @include componentSize(15%, 90px);
    @include flexSort(row, center, center);
  }

  .imgIcons {
    @include componentSize(30px, 30%);
    margin: 10px;
  }

  .bottomNav {
    margin-top: 0px;
    @include flexSort(row, space-around, '');

    .bottomMenuCategoryLi {
      margin: 10px 4px;
      text-align: left;
      padding: 0;
    }

    .dev {
      @include componentSize(150px, '');
      @include flexSort(row, flex-start, flex-start);
      margin: 20px;
      padding: 20px 5px;
    }

    .subCategory {
      @include flexSort(row, center, '');
      margin-left: 312px;
    }

    .subCategoryImg {
      @include flexSort(row, center, '');

      .bestItemImg {
        @include componentSize(100px, '');
        margin: 20px;
      }
    }

    .dev1Link {
      color: gray;
      text-decoration: none;
      margin: 2px;
      font-size: medium;
      &:hover {
        color: black;
      }
    }
  }
}
