@import '../../styles/mixin';
@import '../../styles/variables';

.nav {
  @include componentSize(100%, 90px);
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
  transition: all 0.5s;
  background-color: white;
  font-family: 'Noto Sans KR', serif;

  .topLogo {
    @include componentSize(15%, '');
    width: 280px;
    min-width: 280px;
    margin-right: 18px;
    padding-left: 20px;
  }

  .topNav {
    @include flexSort(row, space-between, center);
    @include componentSize('', 90px);

    .logoIcons {
      @include componentSize(100%, 90px);
      padding: 10px;
    }
  }

  .topMenu {
    @include componentSize(1100px, '');
    margin-right: 280px;
    margin-left: 20px;
    text-align: center;
  }

  .topMenuCategoryUl {
    @include flexSort(row, space-between, center);
    @include componentSize(100%, 90px);
    list-style: none;
  }

  .topMenuCategoryLi {
    @include componentSize(150px, 90px);
    display: inline;
    margin-top: 40px;
    padding: 20px 5px;
    font-size: large;
    text-align: left;
  }

  .navLink {
    @include componentSize('', 90px);
    display: inline-block;
    color: black;
    text-decoration: none;

    &:after {
      @include componentSize(100%, '');
      content: '';
      display: block;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      border-bottom: solid 2px black;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  .topMember {
    @include componentSize(15%, 90px);
    position: relative;
    top: 20px;
    right: 0;

    .imgIcons {
      @include componentSize(30px, 30%);
      margin: 10px;
    }
  }

  .subCategory {
    @include flexSort(row, center, '');
    @include componentSize(100%, 180px);
    min-width: 100%;
    background-color: white;
  }

  .subCategoryImg {
    @include flexSort(row, center, '');

    .bestItemImg {
      @include componentSize(100px, '');
      margin: 20px;
    }
  }

  .dev1Link {
    margin: 2px;
    color: gray;
    font-size: medium;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  .dev {
    @include componentSize(100%, '');
    min-width: 100%;
    padding-bottom: 20px;
    padding-left: 300px;
    background-color: white;

    .bottomMenuCategoryUl {
      position: relative;
      display: inline-block;
      width: 135px;
      min-width: 135px;
      margin-right: 50px;
      vertical-align: top;
    }

    .bottomMenuCategoryLi {
      display: block;
      margin: 10px 4px;
      padding: 0;
      text-align: left;
    }

    .redOn {
      position: absolute;
      background-color: #d1121c;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: -5px;
    }
  }
}
