@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.nav {
  @include componentSize(100%, 90px);
  top: 0;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  transition: all 0.5s;
  background-color: white;

  .topLogo {
    @include componentSize(280px, '');
    margin-left: 10px;
    margin-right: 10px;
    min-width: 280px;
  }

  .topNav {
    @include flexSort(row, space-between, center);
    @include componentSize('', 90px);

    .logoIcons {
      @include componentSize(100%, 90px);
      padding: 10px;
    }
  }

  .topMenu {
    @include componentSize(900px, '');
    min-width: 900px;
    text-align: center;

    .topMenuCategoryLi {
      @include componentSize(150px, 90px);
      text-align: left;
      margin-top: 40px;
      padding: 20px 0;
      font-size: large;
      display: inline-block;
    }
  }

  .navLink {
    color: black;
    text-decoration: none;
    display: inline-block;

    &:after {
      @include componentSize(100%, '');
      display: block;
      content: '';
      border-bottom: solid 2px black;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  .topMember {
    @include componentSize(280px, 90px);
    min-width: 280px;
    margin-top: 40px;
    top: 20px;
    right: 0;

    .imgIcons {
      @include componentSize(30px, 30%);
      margin: 10px;
    }
  }

  .subCategory {
    @include componentSize(100%, 180px);
    @include flexSort(row, space-between, center);
    background-color: white;
    min-width: 100%;
    animation: modalShowTop 0.5s;
  }

  .topLogo {
    width: 280px;
    height: 90px;
  }

  .subCategoryImg {
    @include flexSort(row, center, '');

    .bestItemImg {
      @include componentSize(100px, '');
      margin: 20px;
    }
  }

  .dev1Link {
    color: gray;
    text-decoration: none;
    margin: 2px;
    font-size: medium;
    &:hover {
      color: black;
    }
  }
  .dev {
    @include componentSize(900px, '');
    background-color: white;
    margin-left: -5px;
    min-width: 900px;

    .bottomMenuCategoryUl {
      @include componentSize(150px, '');
      @include flexSort(row, space-between, center);
      display: inline-block;
      vertical-align: top;
    }

    .bottomMenuCategoryLi {
      margin: 10px 0;
      text-align: left;
      padding: 0;
      display: block;
    }
  }
}
